{
  "processors": [["stylelint-processor-styled-components", {
    "parserPlugins": [
      "jsx",
      "decorators-legacy",
      "classProperties",
      "exportExtensions",
      "functionBind",
      "functionSent",
    ]
  }]],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ]
}
